@import url("http://fonts.googleapis.com/css?family=Oswald:400,300");
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 88, icons/*.png */
.icons-sprite, .icons-arrow-left, .icons-arrow-right, .icons-bullet-red, .icons-bullet, .icons-gun, .icons-phone {
  background-image: url('../sprites/icons-s6ee3278c33.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-left {
  background-position: 0 0;
  height: 24px;
  width: 16px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-right {
  background-position: 0 -44px;
  height: 24px;
  width: 16px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet-red {
  background-position: 0 -88px;
  height: 9px;
  width: 29px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet {
  background-position: 0 -117px;
  height: 9px;
  width: 29px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gun {
  background-position: 0 -146px;
  height: 53px;
  width: 77px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -219px;
  height: 45px;
  width: 46px;
}

@font-face {
  font-family: "Gothic821";
  src: url("/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.eot");
  src: url("/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.eot?#iefix") format("embedded-opentype"), url("/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.woff") format("woff"), url("/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.ttf") format("truetype"), url("/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.svg#3710854597fe98cb9deaf022f0a72583") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "BR-Icons";
  src: url("/../../assets/fonts/icons/BlackRedInc.eot?7ew5cb");
  src: url("/../../assets/fonts/icons/BlackRedInc.eot?#iefix7ew5cb") format("embedded-opentype"), url("/../../assets/fonts/icons/BlackRedInc.woff?7ew5cb") format("woff"), url("/../../assets/fonts/icons/BlackRedInc.ttf?7ew5cb") format("truetype"), url("/../../assets/fonts/icons/BlackRedInc.svg?7ew5cb#BlackRedInc") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 47, ../../styles/sass/screen.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 53, ../../styles/sass/screen.sass */
a:link, a:visited {
  pointer: cursor;
  color: #ce0000;
  text-decoration: none;
}

/* line 59, ../../styles/sass/screen.sass */
h1, h2, h3, h4, .heading-1, .heading-2, .heading-3, .heading-4 {
  text-transform: uppercase;
  font-family: "Gothic821", Helvetica, Serif;
}

/* line 63, ../../styles/sass/screen.sass */
h1, h2, .heading-1, .heading-2 {
  font-size: 4em;
}

/* line 65, ../../styles/sass/screen.sass */
h3, .heading-3 {
  font-size: 1.375em;
}

/* line 67, ../../styles/sass/screen.sass */
h4, .heading-4 {
  font-size: 2em;
}

/* line 71, ../../styles/sass/screen.sass */
body {
  font-family: "Oswald", Helvetica, Serif;
}

/* line 74, ../../styles/sass/screen.sass */
.main {
  position: relative;
  overflow: hidden;
}

/* line 81, ../../styles/sass/screen.sass */
.pull-left {
  float: left;
}

/* line 84, ../../styles/sass/screen.sass */
.pull-right {
  float: right;
}

/* line 92, ../../styles/sass/screen.sass */
.highlight {
  color: white;
}

/* line 95, ../../styles/sass/screen.sass */
.icon {
  display: inline-block;
  font-family: "BR-Icons";
}

/* line 99, ../../styles/sass/screen.sass */
.bullet-list {
  background-color: black;
  color: white;
  padding: 0.625em 0 0.625em 0.3125em;
}
/* line 103, ../../styles/sass/screen.sass */
.bullet-list li {
  padding-left: 34px;
  margin-bottom: 0.625em;
  background-image: url("/images/icons/bullet.png");
  background-repeat: no-repeat;
  background-position-y: 3px;
  text-transform: uppercase;
  font-family: "Gothic821", Helvetica, Serif;
}
/* line 111, ../../styles/sass/screen.sass */
.bullet-list li:last-child {
  margin-bottom: 0;
}

/* line 114, ../../styles/sass/screen.sass */
.l-page-section {
  height: 49.75em;
  padding-left: 2.5em;
  overflow-y: hidden;
  position: relative;
}
/* line 119, ../../styles/sass/screen.sass */
.l-page-section:nth-child(even) {
  background-color: black;
  color: #ce0000;
}
/* line 122, ../../styles/sass/screen.sass */
.l-page-section:nth-child(even) h3, .l-page-section:nth-child(even) .heading-3 {
  background-color: #ce0000;
  color: black;
}
/* line 125, ../../styles/sass/screen.sass */
.l-page-section:nth-child(even) .nav {
  background-image: url("/images/menu-red.svg");
}
/* line 127, ../../styles/sass/screen.sass */
.l-page-section:nth-child(odd) {
  background-color: #ce0000;
  color: black;
}
/* line 130, ../../styles/sass/screen.sass */
.l-page-section:nth-child(odd) h3, .l-page-section:nth-child(odd) .heading-3 {
  background-color: black;
  color: #ce0000;
}
/* line 133, ../../styles/sass/screen.sass */
.l-page-section:nth-child(odd) .nav {
  background-image: url("/images/menu-black.svg");
}
/* line 135, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper {
  padding-top: 10.3125em;
  width: 32.88em;
  height: 100%;
  float: left;
}
/* line 140, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper h3, .l-page-section .content-wrapper .heading-3 {
  padding: 0.45453em;
}
/* line 142, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper > * {
  margin-bottom: 20px;
  width: 100%;
}
/* line 145, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper .bullet-list {
  width: 48.5%;
}
/* line 147, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper:last-child {
  margin-bottom: 0;
}
/* line 149, ../../styles/sass/screen.sass */
.l-page-section .content-wrapper .section-content {
  color: white;
}

/* line 152, ../../styles/sass/screen.sass */
.nav {
  position: absolute;
  left: 36em;
  width: 53%;
  height: 100%;
  background-size: 33em;
  float: right;
  background-image: url("/images/menu-black.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 42em -14.6em;
}

/* line 164, ../../styles/sass/screen.sass */
.nav-mask {
  height: 65%;
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 15em;
  background-color: black;
}

/* line 172, ../../styles/sass/screen.sass */
.hotspot {
  display: block;
  position: fixed;
  height: 2.5em;
  z-index: 999;
}
/* line 179, ../../styles/sass/screen.sass */
.hotspot.who-are-they {
  top: 13em;
  left: 42em;
  width: 20em;
}
/* line 183, ../../styles/sass/screen.sass */
.hotspot.what-do-they-do {
  top: 16em;
  left: 42em;
  width: 20em;
}
/* line 187, ../../styles/sass/screen.sass */
.hotspot.who-do-they-serve {
  top: 18.8em;
  left: 42em;
  width: 20em;
}
/* line 191, ../../styles/sass/screen.sass */
.hotspot.how-to-contact-them {
  top: 21.7em;
  left: 42em;
  width: 20em;
}

/* line 200, ../../styles/sass/screen.sass */
.accordion .accordion-item {
  cursor: pointer;
}
/* line 202, ../../styles/sass/screen.sass */
.accordion .accordion-item-content {
  display: none;
}

/* line 207, ../../styles/sass/screen.sass */
.logo-menu .logo {
  margin-bottom: 0.4375em;
}
/* line 209, ../../styles/sass/screen.sass */
.logo-menu .bullet-list {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.4375em;
}

/* line 214, ../../styles/sass/screen.sass */
.display-logo {
  width: 9.375em;
  height: 100%;
  background-repeat: no-repeat;
}

/* line 220, ../../styles/sass/screen.sass */
.logo {
  display: block;
  width: 10em;
  height: 2.9375em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 230, ../../styles/sass/screen.sass */
.logo-cpb {
  background-image: url("/images/cpb.png");
  -moz-background-size: 75%;
  -o-background-size: 75%;
  -webkit-background-size: 75%;
  background-size: 75%;
}

/* line 233, ../../styles/sass/screen.sass */
.logo-mvmnt {
  background-image: url("/images/mvmnt.svg");
  -moz-background-size: 50%;
  -o-background-size: 50%;
  -webkit-background-size: 50%;
  background-size: 50%;
}

/* line 236, ../../styles/sass/screen.sass */
.logo-wme {
  background-image: url("/images/wme.svg");
  -moz-background-size: 90%;
  -o-background-size: 90%;
  -webkit-background-size: 90%;
  background-size: 90%;
}

/* line 239, ../../styles/sass/screen.sass */
.logo-evb {
  background-image: url("/images/logos/evb.svg");
  -moz-background-size: 63%;
  -o-background-size: 63%;
  -webkit-background-size: 63%;
  background-size: 63%;
}

/* line 243, ../../styles/sass/screen.sass */
.logo-large-cpb {
  background-image: url("/images/logos/cpb.jpg");
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 246, ../../styles/sass/screen.sass */
.logo-large-mvmnt {
  background-image: url("/images/logos/mvmnt.svg");
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 249, ../../styles/sass/screen.sass */
.logo-large-wme {
  background-image: url("/images/logos/wme.jpg");
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 252, ../../styles/sass/screen.sass */
.logo-large-evb {
  background-image: url("/images/logos/evb-large.svg");
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 262, ../../styles/sass/screen.sass */
.section-home {
  height: 49.75em;
}
/* line 264, ../../styles/sass/screen.sass */
.section-home .content-wrapper {
  padding-top: 2.5em;
}
/* line 266, ../../styles/sass/screen.sass */
.section-home .gun {
  font-size: 0.85em;
}
/* line 268, ../../styles/sass/screen.sass */
.section-home .jules {
  position: absolute;
  bottom: 0;
  height: 35em;
}
/* line 272, ../../styles/sass/screen.sass */
.section-home .nav {
  top: 22%;
}
/* line 275, ../../styles/sass/screen.sass */
.section-home .nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 26.5em;
  height: 20px;
  border-top: 0.4em solid black;
}

/* line 284, ../../styles/sass/screen.sass */
.section-portfolio {
  min-height: 60em;
  overflow-x: hidden;
}
/* line 287, ../../styles/sass/screen.sass */
.section-portfolio .content-wrapper {
  padding-top: 5.625em;
  position: relative;
}
/* line 291, ../../styles/sass/screen.sass */
.section-portfolio .bullet-list li {
  text-transform: none;
}
/* line 293, ../../styles/sass/screen.sass */
.section-portfolio .bullet-list li:hover {
  color: #ce0000;
  background-image: url("/images/icons/bullet-red.png");
  cursor: pointer;
}
/* line 298, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider {
  position: absolute;
  top: 17.9em;
  left: 9em;
  z-index: 999;
  width: 55em;
}
/* line 304, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .laptop-viewport {
  position: absolute;
  width: 40.5em;
  height: 25.5em;
  top: 2.2em;
  left: 7.3em;
  overflow: scroll;
  background-color: black;
}
/* line 312, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .laptop-viewport .screens {
  width: 100%;
}
/* line 314, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .laptop {
  position: relative;
  top: 0;
  left: 0;
}
/* line 318, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-description-wrapper {
  margin-top: -1em;
  padding-top: 2.5625em;
  width: 92%;
  height: 12em;
  display: block;
  background-color: black;
}
/* line 325, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-description-wrapper > * {
  float: left;
}
/* line 327, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-description-wrapper .label {
  text-transform: uppercase;
  color: #ce0000;
}
/* line 330, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-description-wrapper .display-logo {
  margin-left: 0.9375em;
  color: #ce0000;
  display: block;
}
/* line 334, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-detail {
  margin-left: 1.875em;
  width: 65%;
}
/* line 337, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-detail > * {
  margin-bottom: 0.5em;
}
/* line 339, ../../styles/sass/screen.sass */
.section-portfolio .portfolio-slider .portfolio-detail .portfolio-project-description {
  color: white;
}

/* line 347, ../../styles/sass/screen.sass */
.section-contact .content-wrapper .bullet-list {
  width: 55%;
}

/* line 356, ../../styles/sass/screen.sass */
.bullet-list .selected {
  color: #ce0000;
  background-image: url("/images/icons/bullet-red.png");
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  /* line 367, ../../styles/sass/screen.sass */
  .nav {
    display: none;
  }

  /* line 370, ../../styles/sass/screen.sass */
  .section-portfolio .portfolio-slider {
    width: 47em;
  }
  /* line 372, ../../styles/sass/screen.sass */
  .section-portfolio .portfolio-slider .laptop-viewport {
    top: 1.9em;
    left: 6.3em;
    width: 34.42em;
    height: 21.6em;
  }

  /* line 377, ../../styles/sass/screen.sass */
  .display-logo {
    width: 8.375em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 380, ../../styles/sass/screen.sass */
  body {
    font-size: 13.5px;
  }

  /* line 382, ../../styles/sass/screen.sass */
  .l-page-section {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1200px) {
  /* line 385, ../../styles/sass/screen.sass */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1401px) {
  /* line 388, ../../styles/sass/screen.sass */
  body {
    font-size: 0.99vw;
  }
}
