/* line 1, ../sass/modules.sass */
.tagline {
  font-weight: bold;
  font-size: 45px;
  width: 500px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 25px;
}
/* line 9, ../sass/modules.sass */
.tagline .line-1 {
  width: 205px;
}
/* line 12, ../sass/modules.sass */
.tagline .images-gun {
  position: absolute;
  left: 440px;
  top: 90px;
}

/* line 17, ../sass/modules.sass */
.site-nav-placeholder {
  position: fixed;
  min-width: 200px;
  width: 25%;
  float: right;
  background-color: orange;
  min-height: 100%;
}

/* line 25, ../sass/modules.sass */
.nav {
  font-weight: bold;
  position: absolute;
  width: 251px;
  top: 150px;
  text-align: right;
  font-size: 20px;
  overflow: hidden;
}
/* line 33, ../sass/modules.sass */
.nav li {
  width: 220px;
  padding: 5px 31px 10px 0;
  margin-left: 50px;
  opacity: 0;
}
/* line 38, ../sass/modules.sass */
.nav li:hover {
  cursor: pointer;
}

/* line 42, ../sass/modules.sass */
section {
  margin-right: 500px;
}
/* line 44, ../sass/modules.sass */
section .section-title {
  font-weight: bold;
  font-size: 45px;
}
/* line 47, ../sass/modules.sass */
section .section-summary {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
/* line 51, ../sass/modules.sass */
section .section-content {
  font-size: 16px;
  line-height: 1.25;
}
/* line 54, ../sass/modules.sass */
section .section-content p {
  margin-bottom: 10px;
}

/* line 57, ../sass/modules.sass */
.animation-intro {
  position: absolute;
  width: 100%;
  height: 1300px;
  top: 0;
}
/* line 63, ../sass/modules.sass */
.animation-intro #dot {
  stroke: none;
}

/* line 66, ../sass/modules.sass */
.draw {
  fill: none;
  stroke: black;
  stroke-width: 7px;
}

/* line 71, ../sass/modules.sass */
.draw-logo {
  font-family: brandishregular;
  font-size: 50px;
}
