////////////////////////
//	LIBS
////////////////////////

@import "compass/css3/"
@import "compass/utilities/"
@import "compass/utilities/general/clearfix"
@import "compass/utilities/sprites"
@import "compass/reset"

$icons-sprite-dimensions: true
$icons-spacing: 20px

@import "icons/*.png"
@include all-icons-sprites

// Fonts
@font-face
	font-family: "Gothic821"
	src: url('/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.eot')
	// IE9 Compat Modes
	src: url('/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.eot?#iefix') format("embedded-opentype"), url('/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.woff') format("woff"), url('/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.ttf') format("truetype"), url('/../../assets/fonts/gothic-821/Tilde - Gothic 821 TL Condensed.svg#3710854597fe98cb9deaf022f0a72583') format("svg")
	// Legacy iOS
	font-style: normal
	font-weight: 400

@font-face
	font-family: 'BR-Icons'
	src: url('/../../assets/fonts/icons/BlackRedInc.eot?7ew5cb')
	src: url('/../../assets/fonts/icons/BlackRedInc.eot?#iefix7ew5cb') format("embedded-opentype"), url('/../../assets/fonts/icons/BlackRedInc.woff?7ew5cb') format("woff"), url('/../../assets/fonts/icons/BlackRedInc.ttf?7ew5cb') format("truetype"), url('/../../assets/fonts/icons/BlackRedInc.svg?7ew5cb#BlackRedInc') format("svg")
	font-weight: normal
	font-style: normal

@import url("http://fonts.googleapis.com/css?family=Oswald")


////////////////////////
//	BASE
////////////////////////

// Resets
*
	@include box-sizing(border-box)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

// Colors
$red: #ce0000
$black: black
$colorHighlight: white

// Type
h1, h2, h3, h4, .heading-1, .heading-2, .heading-3, .heading-4
	text-transform: uppercase
	font-family: "Gothic821", Helvetica, Serif

h1, h2, .heading-1, .heading-2
	font-size: 4em
h3, .heading-3
	font-size: 1.375em
h4, .heading-4
	font-size: 2em

// General
body
	font-family: "Oswald", Helvetica, Serif





////////////////////////
//	OVERRIDES
////////////////////////

////////////////////////
//	UTIL
////////////////////////
.pull-left
	float: left

.pull-right
	float: right

////////////////////////
//	MODULES
////////////////////////

// General
.highlight
	color: $colorHighlight

.icon
	display: inline-block
	font-family: "BR-Icons"

.bullet-list
	background-color: black
	color: white
	padding: .625em 0 .625em .3125em
	li
		padding-left: icons-sprite-width(bullet)+5px
		margin-bottom: .625em
		background-image: url('/images/icons/bullet.png')	
		background-repeat: no-repeat	
		background-position-y: 3px
		text-transform: uppercase
		font-family: "Gothic821", Helvetica, Serif
	li:last-child
		margin-bottom: 0

.nav
	width: 45%
	height: 100%
	float: right
	background-image: url('/images/menu-black.png')
	background-repeat: no-repeat
	background-attachment: fixed
	background-position: 100% 100%

.l-page-section
	height: 37.5em
	padding-left: 2.5em
	&:nth-child(even)
		background-color: $black
		color: $red
		h3, .heading-3
			background-color: $red
			color: $black
		.nav
			background-image: url('/images/menu-red.png')
	&:nth-child(odd)
		background-color: $red
		color: $black
		h3, .heading-3
			background-color: $black
			color: $red
		.nav
			background-image: url('/images/menu-black.png')
	.content-wrapper
		padding-top: 10.3125em
		width: 32.88em
		height: 100%
		float: left
		h3, .heading-3
			padding: 0.45453em
		& > *
			margin-bottom: 20px
			width: 100%
		.bullet-list
			width: 48.5%
		&:last-child
			margin-bottom: 0
		.section-content
			color: $colorHighlight
	

// SECTION SPECIFIC OVERRIDES
.section-home
	height: 49.75em
	position: relative
	background
	.content-wrapper
		padding-top: 2.5em
	.gun
		font-size: .85em
	.jules
		position: absolute
		bottom: 0
		height: 35em

.section-contact
	.content-wrapper
		.bullet-list
			width: 55%



////////////////////////
//	STATES
////////////////////////
