.tagline
	font-weight: bold
	font-size: 45px
	width: 500px
	text-transform: uppercase
	position: relative

	.line-1
		width: 200px

	.images-gun
		position: absolute
		left: 440px
		top: 90px

.logo
	font-family: brandishregular
	font-size: 50px

.draw-line
	fill: none
	stroke: black
	stroke-width: 7px
	stroke-miterlimit: 10px

.nav
	width: 1370px
	height: 1000px
	position: absolute
	top: 68px
	left: 485px
