.animation-intro
	position: absolute
	width: 100%
	height: 1300px
	top: 0
	#dot
		stroke: none

.draw
	fill: none
	stroke: $secondaryColor
	stroke-width: 7px
	
.draw-logo
	font-family: brandishregular
	font-size: 50px

.tagline
	font-weight: bold
	font-size: 45px
	width: 500px
	text-transform: uppercase
	position: relative
	padding-bottom: 25px

	.line-1
		width: 205px

	.images-gun
		position: absolute
		left: 440px
		top: 90px

.nav
	font-weight: bold
	position: absolute
	width: 251px
	top: 150px
	text-align: right
	font-size: 20px
	overflow: hidden
	padding: 20px 0
	li
		width: 220px
		padding: 5px 31px 10px 0
		margin-left: 50px
		opacity: 0
	li:hover
		cursor: pointer


section
	opacity: 0
	margin-right: 45%
	padding: 15% 0
	@include clearfix()
	.section-title
		font-weight: bold
		font-size: 45px
	.section-summary
		padding: 10px 0
		font-size: 20px
		padding-left: 10px
		font-weight: bold
		background-color: $secondaryColor
		color: $primaryColor
	.section-content
		font-size: 16px
		line-height: 1.25
		margin: 10px 0
		p
			margin-bottom: 10px

section#home
	padding-top: 0
	padding-bottom: 0

.list-text
	float: left
	margin-right: 20px
	width: 40%
	background-color: $secondaryColor
	color: $primaryColor
	li
		padding: 10px 0
	li:before
		content: '----'
		position: relative
		left: -5px



