.is-alt-theme
	background-color: black !important
	color: $primaryColor !important
	stroke: $primaryColor !important
	@include transition(all 0.5s ease)
	#dot
		stroke: none !important
		fill: $primaryColor !important
	a
		color: $primaryColor
		text-decoration: none
	a:hover
		color: $primaryColor
		text-decoration: none
	.section-summary
		background-color: $primaryColor
		color: $secondaryColor
	.section-content .list-text
		background-color: $secondaryColor
		color: $primaryColor

.is-sticky-nav
	position: fixed !important
	top: 0 !important